@font-face{
    font-family: emulogic;
    src: url(../_fonts/emulogic.ttf);
}
body{
    background-color: black;
}
#game{
    width: 400px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    border: solid;
    top: 50px;
    background-color: #fff;
}

footer{
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 16pt;
    font-weight: bold;
    color: white;
}